In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

In [ ]:
import pandas
mydata={
    'Name':['Pranav', 'Divyam', 'Harsh', 'Akash', 'Pathakji'],
    'Age': [18, 22, 21, 21, 23],
    'Salary': ['1cr', '10cr', '30cr', '450cr', '35cr']
    }

data= pandas.DataFrame(mydata)
print(data)

In [ ]:
import pandas
newdata= {
    'Brand': ['Puma', 'Reebok', 'Adidas', 'Adrenex'],
    'Products sold' : [1000, 200, 20000, 12344],
}

print(pandas.DataFrame(newdata))

In [ ]:
import pandas as pd
import numpy as np

x=np.array(['p', 'a', 'n', 'd', 'a', 's'])
a=pd.Series(x) #since this is a single column table hence we can commence it under series method of pandas
print(a)

In [ ]:
import pandas as pd
#  a is a list of strings
x=['Python', 'Pandas']
df=pd.DataFrame(x)
print(df) #Calling Datafarme constructor on list

In [ ]:
import pandas as pd
cd={'Names':['Ammar Ali', "Pranav", 'Arsil', 'Akash', 'Jatin'],
       'Marks':[12, 30, -5, 15, 10],
       'Grades':['B', 'O', 'A', 'F', 'D']}
x=pd.DataFrame(cd)
print(x)

In [ ]:
x.head(2) #will print first 2 rows of the DataFrame

In [ ]:
x.describe()  #gives mean, median, count, %, max.-min. value of the DataFrame

PANDAS LIB. from geekforgeeks

In [ ]:
import pandas as pd
df=pd.DataFrame() #creating an empty DataFrame under pandas lib
print(df)

In [ ]:
lst=['Geeks', 'for', 'Geeks',
     'portal', 'for', 'Geeks']
print(pd.DataFrame(lst)) #this syntax create a DataFrame of the variable unde

In [ ]:
data={'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 'Age' : [20, 35, 56, 40, 25]}
print(pd.DataFrame(data)) #this prints

In [ ]:
import pandas as pd
ass=pd.DataFrame({
    'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 
    'Age' : [20, 35, 56, 40, 25],
    'Job' : ['Data scientst', 'Back-end-dev', 'Front-end-dev', 'dev-ops', 'IT']
})
print(ass)

In [ ]:
# the code above can also be executed as
ass={
    'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 
    'Age' : [20, 35, 56, 40, 25],
    'Job' : ['Data scientst', 'Back-end-dev', 'Front-end-dev', 'dev-ops', 'IT']
}
df=pd.DataFrame(ass)
print(df)

pandas can perform a variable types of functions over dataset's columns/rows

it can give answers like -
-relation b/w two or more columns
-avg value
-min value
-max value

In [ ]:
# labels (If nothing else is specified, the values are labeled with their index number. First value has index 0, and so on...)
import pandas as pd
a=['batman', 'superman', 'spiderman', 'kevin levrone']
print(a[2]) #spiderman here is on index 3 hence it was printed when a was indexed with label

In [ ]:
# Creating labels - yes, its possible to name our own labels
import pandas as pd
a=[12, 24, 36, 48, 60, 72]
new=pd.Series(a, index=['Twleve ones are', 'Twelve twos are', 'Twelve threes are', 'Twelve fours are', 'Twelve fives are', 'Twelve sixz are'] )
print(new)

# on creating labels its also possible to access these values using their label
# for eg
print('value for 4th position (if first is taken 0) will be : ', new['Twelve fives are'])

In [ ]:
# using key:value pairs for DataFrame
import pandas as pd
a={'one':'Spiderman', 2:'Goblin', 'three':'Lizard', 4:'bhadak krdi bc'}
print(pd.Series(a))
print()
# to note : keys of the dictionaries become the labels when printed with Series method of pandas
diet={'day 1' : '320 calories', 'day 2':'5000 calories', 'day 3':'1000000 calories'}
print(pd.Series(diet))

In [ ]:
'''to print only a desired index value'''

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day3"])

print(myvar)

DATAFRAMES

In [ ]:
'''a dataframe is a 2 dimensional data structure with rows and columns''' #note that Series previously was one dimensional only, i.e. for a column
data={
    "Names":['Clark Kent', 'Bruce Wayne', 'Barry Allen', 'Wade Willson'],
    "Hero Name":['Superman', 'Batman', 'Flash', 'Deadpool']
}
df=pd.DataFrame(data) #this command loads data into DataFrame method to print it tabularly as rows n columns
df

In [ ]:
# locate Row
'''its possible to locate a row by giving its index value under the loc method by applying this method to the DataFrame's variable'''
# note that first the Dataset has to be saved in a pandas DataFrame under some variable
print('''
      test 1
      ''')
print(df.loc[1])
# to get more than one we can just add another index value, for eg:
print('''
      test 2''')
print(df.loc[[0,2]])
print('''
      test 3''')
print(df.loc[[0,3,1,1]]) #when using [] result is a Pandas DataFrame

WORKING WITH CSV FILES

In [ ]:
import pandas as pd
dataset=pd.read_csv("Marvel Movies.csv")
print(dataset.to_string()) #this will print the entire dataframe

In [ ]:
#if there's a larger dataframe and it is printed without to_string() then output will be a summarised view of the dataset
ABBA=pd.read_csv("Marvel Movies.csv")
print(ABBA)

In [ ]:
# max rows - The number of rows returned is defined in Pandas option settings.
# You can check your system's maximum rows with the pd.options.display.max_rows statement.

print("maximum rows in this dataset are :", pd.options.display.max_rows)
print("maximum columns in the same dataset are :", pd.options.display.max_columns)

WORKING WITH JSON FILES

In [ ]:
df=pd.read_json("intents.json")
# print(df.to_string()) # this command is used to print entire DataFrame
print(df)

In [ ]:
import pandas as pd
'''python dictionaries = json hence both can be printed into a DataFrame very easily'''

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

ANALYSING THE DATA

In [ ]:
# first step is viewing the data using head() method
'''head method by default returns first 5 rows as output'''
import pandas as pd
df=pd.read_csv("Marvel Movies.csv")
print(df.head())

In [ ]:
# tail() method
print(df.tail()) #will print last 5 data off the DataFrameb

In [ ]:
#will return information about the DataFrame
print(df.info())
# The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 36 Non-Null values in the "year" column.

CLEANING DATA

In [ ]:
'''cleaning data cells means to remove or get rid of bad cells
bas cells can include empty cells, data in wrong format, wrong data, Duplicates'''
a="cleaning data sets begins here"

In [ ]:
import pandas as pd 
'''the lonan_data_1.csv file has multiple empty cells in the csv and in order to remove the rows with such data we use .dropna() method '''
df=pd.read_csv("loan_dafta_1.csv").dropna()
print(df.to_string()) #somehow this command also removed null-celled and saved the file

In [ ]:
# the above syntax doesn't save the file as edited
'''in order to permanently save the file as edited(i.e. null celled rows rmoved, one can (inplace=True))'''
so=pd.read_csv("loan_data_1.csv")
print(so.dropna(inplace=True))

In [ ]:
name=pd.read_csv("loan_data_1 - Copy.csv")
print(name.to_string()) #this is a file that hasn't been cleaned and is the exact replica of the loans_data1.csv file before getting cleaned

In [ ]:
# '''didn't find a csv file to experiment on this so leacing the syntax here'''
import pandas as pd
'''
--> Replace NULL values with the number 130:

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)'''

In [ ]:
'''Replace NULL values in the "Calories" columns with the number 130:

import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)'''

In [ ]:
# replacing values of a column using mean, median, mode
'''incase the demand is to fill the empty cells with mean or medain or  mode of rest of the data'''
###
'''for replacing with mean

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)'''

#

'''for replacing with median

df = pd.read_csv('data.csv')
x = df["Calories"].median()
df["Calories"].fillna(x, inplace = True)
'''
#

'''for replacing wit mode

df = pd.read_csv('data.csv')
x = df["Calories"].mode()[0]
df["Calories"].fillna(x, inplace = True)
'''

CLEANING OF WRONG FORMAT