In [1]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas
mydata={
    'Name':['Pranav', 'Divyam', 'Harsh', 'Akash', 'Pathakji'],
    'Age': [18, 22, 21, 21, 23],
    'Salary': ['1cr', '10cr', '30cr', '450cr', '35cr']
    }

data= pandas.DataFrame(mydata)
print(data)

       Name  Age Salary
0    Pranav   18    1cr
1    Divyam   22   10cr
2     Harsh   21   30cr
3     Akash   21  450cr
4  Pathakji   23   35cr

In [3]:
import pandas
newdata= {
    'Brand': ['Puma', 'Reebok', 'Adidas', 'Adrenex'],
    'Products sold' : [1000, 200, 20000, 12344],
}

print(pandas.DataFrame(newdata))

     Brand  Products sold
0     Puma           1000
1   Reebok            200
2   Adidas          20000
3  Adrenex          12344

In [4]:
import pandas as pd
import numpy as np

x=np.array(['p', 'a', 'n', 'd', 'a', 's'])
a=pd.Series(x) #since this is a single column table hence we can commence it under series method of pandas
print(a)

0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [5]:
import pandas as pd
#  a is a list of strings
x=['Python', 'Pandas']
df=pd.DataFrame(x)
print(df) #Calling Datafarme constructor on list

        0
0  Python
1  Pandas

In [6]:
import pandas as pd
cd={'Names':['Ammar Ali', "Pranav", 'Arsil', 'Akash', 'Jatin'],
       'Marks':[12, 30, -5, 15, 10],
       'Grades':['B', 'O', 'A', 'F', 'D']}
x=pd.DataFrame(cd)
print(x)

       Names  Marks Grades
0  Ammar Ali     12      B
1     Pranav     30      O
2      Arsil     -5      A
3      Akash     15      F
4      Jatin     10      D

In [7]:
x.head(2) #will print first 2 rows of the DataFrame

       Names  Marks Grades
0  Ammar Ali     12      B
1     Pranav     30      O

In [8]:
x.describe()  #gives mean, median, count, %, max.-min. value of the DataFrame

        Marks
count   5.000
mean   12.400
std    12.502
min    -5.000
25%    10.000
50%    12.000
75%    15.000
max    30.000

PANDAS LIB. from geekforgeeks

In [9]:
import pandas as pd
df=pd.DataFrame() #creating an empty DataFrame under pandas lib
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
lst=['Geeks', 'for', 'Geeks',
     'portal', 'for', 'Geeks']
print(pd.DataFrame(lst)) #this syntax create a DataFrame of the variable unde

        0
0   Geeks
1     for
2   Geeks
3  portal
4     for
5   Geeks

In [11]:
data={'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 'Age' : [20, 35, 56, 40, 25]}
print(pd.DataFrame(data)) #this prints

      Name  Age
0   Pranav   20
1  Shubham   35
2      Tom   56
3    Cruze   40
4  Hillary   25

In [12]:
import pandas as pd
ass=pd.DataFrame({
    'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 
    'Age' : [20, 35, 56, 40, 25],
    'Job' : ['Data scientst', 'Back-end-dev', 'Front-end-dev', 'dev-ops', 'IT']
})
print(ass)

      Name  Age            Job
0   Pranav   20  Data scientst
1  Shubham   35   Back-end-dev
2      Tom   56  Front-end-dev
3    Cruze   40        dev-ops
4  Hillary   25             IT

In [13]:
# the code above can also be executed as
ass={
    'Name' : ['Pranav', 'Shubham', 'Tom', 'Cruze', 'Hillary'], 
    'Age' : [20, 35, 56, 40, 25],
    'Job' : ['Data scientst', 'Back-end-dev', 'Front-end-dev', 'dev-ops', 'IT']
}
df=pd.DataFrame(ass)
print(df)

      Name  Age            Job
0   Pranav   20  Data scientst
1  Shubham   35   Back-end-dev
2      Tom   56  Front-end-dev
3    Cruze   40        dev-ops
4  Hillary   25             IT

pandas can perform a variable types of functions over dataset's columns/rows

it can give answers like -
-relation b/w two or more columns
-avg value
-min value
-max value

In [14]:
# labels (If nothing else is specified, the values are labeled with their index number. First value has index 0, and so on...)
import pandas as pd
a=['batman', 'superman', 'spiderman', 'kevin levrone']
print(a[2]) #spiderman here is on index 3 hence it was printed when a was indexed with label

spiderman

In [15]:
# Creating labels - yes, its possible to name our own labels
import pandas as pd
a=[12, 24, 36, 48, 60, 72]
new=pd.Series(a, index=['Twleve ones are', 'Twelve twos are', 'Twelve threes are', 'Twelve fours are', 'Twelve fives are', 'Twelve sixz are'] )
print(new)

# on creating labels its also possible to access these values using their label
# for eg
print('value for 4th position (if first is taken 0) will be : ', new['Twelve fives are'])

Twleve ones are      12
Twelve twos are      24
Twelve threes are    36
Twelve fours are     48
Twelve fives are     60
Twelve sixz are      72
dtype: int64
value for 4th position (if first is taken 0) will be :  60

In [16]:
# using key:value pairs for DataFrame
import pandas as pd
a={'one':'Spiderman', 2:'Goblin', 'three':'Lizard', 4:'bhadak krdi bc'}
print(pd.Series(a))
print()
# to note : keys of the dictionaries become the labels when printed with Series method of pandas
diet={'day 1' : '320 calories', 'day 2':'5000 calories', 'day 3':'1000000 calories'}
print(pd.Series(diet))

one           Spiderman
2                Goblin
three            Lizard
4        bhadak krdi bc
dtype: object

day 1        320 calories
day 2       5000 calories
day 3    1000000 calories
dtype: object

In [17]:
'''to print only a desired index value'''

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day3"])

print(myvar)

day1    420
day3    390
dtype: int64

DATAFRAMES

In [18]:
'''a dataframe is a 2 dimensional data structure with rows and columns''' #note that Series previously was one dimensional only, i.e. for a column
data={
    "Names":['Clark Kent', 'Bruce Wayne', 'Barry Allen', 'Wade Willson'],
    "Hero Name":['Superman', 'Batman', 'Flash', 'Deadpool']
}
df=pd.DataFrame(data) #this command loads data into DataFrame method to print it tabularly as rows n columns
df

          Names Hero Name
0    Clark Kent  Superman
1   Bruce Wayne    Batman
2   Barry Allen     Flash
3  Wade Willson  Deadpool

In [19]:
# locate Row
'''its possible to locate a row by giving its index value under the loc method by applying this method to the DataFrame's variable'''
# note that first the Dataset has to be saved in a pandas DataFrame under some variable
print('''
      test 1
      ''')
print(df.loc[1])
# to get more than one we can just add another index value, for eg:
print('''
      test 2''')
print(df.loc[[0,2]])
print('''
      test 3''')
print(df.loc[[0,3,1,1]]) #when using [] result is a Pandas DataFrame

      test 1

Names        Bruce Wayne
Hero Name         Batman
Name: 1, dtype: object

      test 2
         Names Hero Name
0   Clark Kent  Superman
2  Barry Allen     Flash

      test 3
          Names Hero Name
0    Clark Kent  Superman
3  Wade Willson  Deadpool
1   Bruce Wayne    Batman
1   Bruce Wayne    Batman

WORKING WITH CSV FILES

In [20]:
import pandas as pd
dataset=pd.read_csv("Marvel Movies.csv")
print(dataset.to_string()) #this will print the entire dataframe

                                  movie         category  year  worldwide gross ($m) % budget recovered critics % score audience % score audience vs critics % deviance  budget  domestic gross ($m)  international gross ($m)  opening weekend ($m)  second weekend ($m) 1st vs 2nd weekend drop off  % gross from opening weekend % gross from domestic % gross from international % budget opening weekend
0                             Ant-Man            Ant-Man  2015                   518               398%             83%              85%                            -2%   130.0                  180                       338                  57.0                 24.0                        -58%                       31.8000                34.70%                     65.30%                   43.80%
1                    Ant-Man & The Wasp          Ant-Man  2018                   623               479%             87%              80%                             7%   130.0                  216                       406                  75.8                 29.0                        -62%                       35.0000                34.70%                     65.20%                   58.30%
2               Avengers: Age of Ultron         Avengers  2015                  1395               382%             76%              82%                            -6%   365.0                  459                       936                 191.0                 77.0                        -60%                       41.7000                32.90%                     67.10%                   52.30%
3                    Avengers: End Game         Avengers  2019                  2797               699%             94%              90%                             4%   400.0                  858                      1939                 357.0                147.0                        -59%                       41.6000                30.70%                     69.30%                   89.30%
4                Avengers: Infinity War         Avengers  2018                  2048               683%             85%              91%                            -6%   300.0                  678                      1369                 257.0                114.0                        -56%                       38.0000                33.10%                     66.80%                   85.70%
5                         Black Panther    Black Panther  2018                  1336               668%             96%              79%                            17%   200.0                  700                       636                 202.0                111.0                        -45%                       28.9000                52.40%                     47.60%                  101.00%
6                       Black Panther 2    Black Panther  2022                   855               342%             84%              94%                           -10%   250.0                  453                       401                 181.0                 66.0                        -64%                       48.6000                53.00%                     46.90%                   72.40%
7                           Black Widow           Unique  2021                   379               190%             79%              80%                            -1%   200.0                  183                       196                  80.3                 25.8                        -68%                       43.8000                48.30%                     51.70%                   40.20%
8                       Captain America  Captain America  2011                   370               264%             79%              75%                             4%   140.0                  176                       193                  65.0                 25.0                        -62%                       36.8000                47.60%                     52.20%                   46.40%
9            Captain America: Civil War  Captain America  2016                  1151               460%             90%              89%                             1%   250.0                  408                       743                 179.0                 72.6                        -59%                       43.9000                35.40%                     64.60%                   71.60%
10      Captain America: Winter Soldier  Captain America  2014                   714               420%             90%              92%                            -2%   170.0                  259                       454                  95.0                 41.0                        -57%                       36.6000                36.30%                     63.60%                   55.90%
11                       Captain Marvel           Unique  2019                  1129               645%             79%              45%                            34%   175.0                  426                       702                 153.0                 67.9                        -56%                       35.9000                37.70%                     62.20%                   87.40%
12                           Dr Strange       Dr Strange  2016                   676               410%             89%              86%                             3%   165.0                  232                       443                  85.0                 42.9                        -50%                       36.6000                34.30%                     65.50%                   51.50%
13    Dr Strange: Multiverse of Madness       Dr Strange  2022                   952               476%             74%              77%                            -3%   200.0                  411                       540                 187.0                 61.7                        -67%                       45.6000                43.20%                     56.70%                   93.50%
14                             Eternals           Unique  2021                   402               201%             47%              73%                           -26%   200.0                  164                       237                  71.0                 26.8                        -62%                       43.2000                40.80%                     59.00%                   35.50%
15              Guardians of the Galaxy        Guardians  2014                   770               453%             92%              92%                             0%   170.0                  333                       437                  94.0                 42.1                        -55%                       43.3000                43.20%                     56.80%                   55.30%
16            Guardians of the Galaxy 2        Guardians  2017                   869               435%             85%              87%                            -2%   200.0                  389                       479                 146.0                 65.0                        -55%                       37.6000                44.80%                     55.10%                   73.00%
17                      Incredible Hulk           Unique  2008                   265               193%             67%              69%                            -2%   137.5                  134                       130                  55.0                 22.1                        -60%                       41.1000                50.60%                     49.10%                   40.00%
18                             Iron Man         Iron Man  2008                   585               315%             94%              91%                             3%   186.0                  318                       266                 102.0                 51.2                        -50%                       32.1000                54.40%                     45.50%                   54.80%
19                           Iron Man 2         Iron Man  2010                   621               365%             71%              71%                             0%   170.0                  312                       308                 128.0                 52.0                        -59%                       41.0000                50.20%                     49.60%                   75.30%
20                           Iron Man 3         Iron Man  2013                  1215               608%             79%              78%                             1%   200.0                  408                       806                 174.0                 72.5                        -58%                       42.6000                33.60%                     66.30%                   87.00%
21                            Shang-Chi           Unique  2021                   432               288%             91%              93%                            -2%   150.0                  224                       207                  75.0                 34.7                        -54%                       33.6000                51.90%                     47.90%                   50.00%
22            Spider-Man: Far from Home       Spider-Man  2019                  1132               708%             90%              93%                            -3%   160.0                  390                       741                  93.0                 45.3                        -51%                       23.7000                34.50%                     65.50%                   58.10%
23               Spider-Man: Homecoming       Spider-Man  2017                   878               502%             92%              87%                             5%   175.0                  334                       544                 117.0                 44.0                        -62%                       35.0000                38.00%                     62.00%                   66.90%
24              Spider-Man: No Way Home       Spider-Man  2021                  1911               956%             93%              96%                            -3%   200.0                  814                      1097                 260.0                 84.0                        -68%                       32.0000                42.60%                     57.40%                  130.00%
25                         The Avengers         Avengers  2012                  1515               673%             91%              91%                             0%   225.0                  623                       891                 207.0                103.0                        -50%                       33.3000                41.10%                     58.80%                   92.00%
26                     Thor: Dark World             Thor  2013                   644               429%             66%              75%                            -9%   150.0                  206                       438                  85.0                 36.5                        -57%                       41.5000                32.00%                     68.00%                   56.70%
27                 Thor: Love & Thunder             Thor  2022                   745               298%             64%              63%                             1%   250.0                  343                       403                 144.0                 46.6                        -68%                       42.0000                46.00%                     54.10%                   57.60%
28                       Thor: Ragnarok             Thor  2017                   850               472%             93%              87%                             6%   180.0                  315                       535                 122.0                 57.0                        -53%                       39.0000                37.10%                     62.90%                   67.80%
29                                 Thor             Thor  2011                   449               299%             77%              76%                             1%   150.0                  181                       268                  65.0                 34.0                        -48%                       36.3000                40.30%                     59.70%                   43.30%
30    Ant-Man and the Wasp: Quantumania          Ant-Man  2023                   476               190%             47%              83%                            36%   250.0                  213                       263                 104.0                 32.0                        -69%                       21.8000                44.80%                     55.20%                   41.60%
31       Guardians of the Galaxy Vol. 3        Guardians  2023                   845               338%             82%              95%                           -13%   250.0                  358                       487                 118.0                 49.0                        -59%                       14.0000                42.40%                     57.60%                   47.20%
32                          The Marvels           Unique  2023                   503               201%             57%              73%                           -16%   250.0                  215                       288                  81.0                 27.0                        -67%                       16.1000                42.70%                     57.30%                   32.40%
33  Spider-Man: Across the Spider-Verse       Spider-Man  2023                   680               681%             96%              94%                             2%   100.0                  380                       300                 120.0                 52.0                        -57%                       17.6000                55.90%                     44.10%                  120.00%
34                             Deadpool         Deadpool  2016                   783              1350%             85%              90%                             5%    58.0                  363                       420                 132.4                 56.5                        -57%                        0.1691                46.36%                     53.64%                  228.28%
35                           Deadpool 2         Deadpool  2018                   786               714%             84%              85%                             1%   110.0                  324                       462                 125.5                 43.5                        -65%                        0.1597                41.22%                     58.78%                  114.09%

In [21]:
#if there's a larger dataframe and it is printed without to_string() then output will be a summarised view of the dataset
ABBA=pd.read_csv("Marvel Movies.csv")
print(ABBA)

                                  movie         category  year  \
0                             Ant-Man            Ant-Man  2015
1                    Ant-Man & The Wasp          Ant-Man  2018
2               Avengers: Age of Ultron         Avengers  2015
3                    Avengers: End Game         Avengers  2019
4                Avengers: Infinity War         Avengers  2018
5                         Black Panther    Black Panther  2018
6                       Black Panther 2    Black Panther  2022
7                           Black Widow           Unique  2021
8                       Captain America  Captain America  2011
9            Captain America: Civil War  Captain America  2016
10      Captain America: Winter Soldier  Captain America  2014
11                       Captain Marvel           Unique  2019
12                           Dr Strange       Dr Strange  2016
13    Dr Strange: Multiverse of Madness       Dr Strange  2022
14                             Eternals           Unique  2021
15              Guardians of the Galaxy        Guardians  2014
16            Guardians of the Galaxy 2        Guardians  2017
17                      Incredible Hulk           Unique  2008
18                             Iron Man         Iron Man  2008
19                           Iron Man 2         Iron Man  2010
20                           Iron Man 3         Iron Man  2013
21                            Shang-Chi           Unique  2021
22            Spider-Man: Far from Home       Spider-Man  2019
23               Spider-Man: Homecoming       Spider-Man  2017
24              Spider-Man: No Way Home       Spider-Man  2021
25                         The Avengers         Avengers  2012
26                     Thor: Dark World             Thor  2013
27                 Thor: Love & Thunder             Thor  2022
28                       Thor: Ragnarok             Thor  2017
29                                 Thor             Thor  2011
30    Ant-Man and the Wasp: Quantumania          Ant-Man  2023
31       Guardians of the Galaxy Vol. 3        Guardians  2023
32                          The Marvels           Unique  2023
33  Spider-Man: Across the Spider-Verse       Spider-Man  2023
34                             Deadpool         Deadpool  2016
35                           Deadpool 2         Deadpool  2018

    worldwide gross ($m) % budget recovered critics % score audience % score  \
0                    518               398%             83%              85%
1                    623               479%             87%              80%
2                   1395               382%             76%              82%
3                   2797               699%             94%              90%
4                   2048               683%             85%              91%
5                   1336               668%             96%              79%
6                    855               342%             84%              94%
7                    379               190%             79%              80%
8                    370               264%             79%              75%
9                   1151               460%             90%              89%
10                   714               420%             90%              92%
11                  1129               645%             79%              45%
12                   676               410%             89%              86%
13                   952               476%             74%              77%
14                   402               201%             47%              73%
15                   770               453%             92%              92%
16                   869               435%             85%              87%
17                   265               193%             67%              69%
18                   585               315%             94%              91%
19                   621               365%             71%              71%
20                  1215               608%             79%              78%
21                   432               288%             91%              93%
22                  1132               708%             90%              93%
23                   878               502%             92%              87%
24                  1911               956%             93%              96%
25                  1515               673%             91%              91%
26                   644               429%             66%              75%
27                   745               298%             64%              63%
28                   850               472%             93%              87%
29                   449               299%             77%              76%
30                   476               190%             47%              83%
31                   845               338%             82%              95%
32                   503               201%             57%              73%
33                   680               681%             96%              94%
34                   783              1350%             85%              90%
35                   786               714%             84%              85%

   audience vs critics % deviance  budget  domestic gross ($m)  \
0                             -2%   130.0                  180
1                              7%   130.0                  216
2                             -6%   365.0                  459
3                              4%   400.0                  858
4                             -6%   300.0                  678
5                             17%   200.0                  700
6                            -10%   250.0                  453
7                             -1%   200.0                  183
8                              4%   140.0                  176
9                              1%   250.0                  408
10                            -2%   170.0                  259
11                            34%   175.0                  426
12                             3%   165.0                  232
13                            -3%   200.0                  411
14                           -26%   200.0                  164
15                             0%   170.0                  333
16                            -2%   200.0                  389
17                            -2%   137.5                  134
18                             3%   186.0                  318
19                             0%   170.0                  312
20                             1%   200.0                  408
21                            -2%   150.0                  224
22                            -3%   160.0                  390
23                             5%   175.0                  334
24                            -3%   200.0                  814
25                             0%   225.0                  623
26                            -9%   150.0                  206
27                             1%   250.0                  343
28                             6%   180.0                  315
29                             1%   150.0                  181
30                            36%   250.0                  213
31                           -13%   250.0                  358
32                           -16%   250.0                  215
33                             2%   100.0                  380
34                             5%    58.0                  363
35                             1%   110.0                  324

    international gross ($m)  opening weekend ($m)  second weekend ($m)  \
0                        338                  57.0                 24.0
1                        406                  75.8                 29.0
2                        936                 191.0                 77.0
3                       1939                 357.0                147.0
4                       1369                 257.0                114.0
5                        636                 202.0                111.0
6                        401                 181.0                 66.0
7                        196                  80.3                 25.8
8                        193                  65.0                 25.0
9                        743                 179.0                 72.6
10                       454                  95.0                 41.0
11                       702                 153.0                 67.9
12                       443                  85.0                 42.9
13                       540                 187.0                 61.7
14                       237                  71.0                 26.8
15                       437                  94.0                 42.1
16                       479                 146.0                 65.0
17                       130                  55.0                 22.1
18                       266                 102.0                 51.2
19                       308                 128.0                 52.0
20                       806                 174.0                 72.5
21                       207                  75.0                 34.7
22                       741                  93.0                 45.3
23                       544                 117.0                 44.0
24                      1097                 260.0                 84.0
25                       891                 207.0                103.0
26                       438                  85.0                 36.5
27                       403                 144.0                 46.6
28                       535                 122.0                 57.0
29                       268                  65.0                 34.0
30                       263                 104.0                 32.0
31                       487                 118.0                 49.0
32                       288                  81.0                 27.0
33                       300                 120.0                 52.0
34                       420                 132.4                 56.5
35                       462                 125.5                 43.5

   1st vs 2nd weekend drop off  % gross from opening weekend  \
0                         -58%                       31.8000
1                         -62%                       35.0000
2                         -60%                       41.7000
3                         -59%                       41.6000
4                         -56%                       38.0000
5                         -45%                       28.9000
6                         -64%                       48.6000
7                         -68%                       43.8000
8                         -62%                       36.8000
9                         -59%                       43.9000
10                        -57%                       36.6000
11                        -56%                       35.9000
12                        -50%                       36.6000
13                        -67%                       45.6000
14                        -62%                       43.2000
15                        -55%                       43.3000
16                        -55%                       37.6000
17                        -60%                       41.1000
18                        -50%                       32.1000
19                        -59%                       41.0000
20                        -58%                       42.6000
21                        -54%                       33.6000
22                        -51%                       23.7000
23                        -62%                       35.0000
24                        -68%                       32.0000
25                        -50%                       33.3000
26                        -57%                       41.5000
27                        -68%                       42.0000
28                        -53%                       39.0000
29                        -48%                       36.3000
30                        -69%                       21.8000
31                        -59%                       14.0000
32                        -67%                       16.1000
33                        -57%                       17.6000
34                        -57%                        0.1691
35                        -65%                        0.1597

   % gross from domestic % gross from international % budget opening weekend
0                 34.70%                     65.30%                   43.80%
1                 34.70%                     65.20%                   58.30%
2                 32.90%                     67.10%                   52.30%
3                 30.70%                     69.30%                   89.30%
4                 33.10%                     66.80%                   85.70%
5                 52.40%                     47.60%                  101.00%
6                 53.00%                     46.90%                   72.40%
7                 48.30%                     51.70%                   40.20%
8                 47.60%                     52.20%                   46.40%
9                 35.40%                     64.60%                   71.60%
10                36.30%                     63.60%                   55.90%
11                37.70%                     62.20%                   87.40%
12                34.30%                     65.50%                   51.50%
13                43.20%                     56.70%                   93.50%
14                40.80%                     59.00%                   35.50%
15                43.20%                     56.80%                   55.30%
16                44.80%                     55.10%                   73.00%
17                50.60%                     49.10%                   40.00%
18                54.40%                     45.50%                   54.80%
19                50.20%                     49.60%                   75.30%
20                33.60%                     66.30%                   87.00%
21                51.90%                     47.90%                   50.00%
22                34.50%                     65.50%                   58.10%
23                38.00%                     62.00%                   66.90%
24                42.60%                     57.40%                  130.00%
25                41.10%                     58.80%                   92.00%
26                32.00%                     68.00%                   56.70%
27                46.00%                     54.10%                   57.60%
28                37.10%                     62.90%                   67.80%
29                40.30%                     59.70%                   43.30%
30                44.80%                     55.20%                   41.60%
31                42.40%                     57.60%                   47.20%
32                42.70%                     57.30%                   32.40%
33                55.90%                     44.10%                  120.00%
34                46.36%                     53.64%                  228.28%
35                41.22%                     58.78%                  114.09%

In [22]:
# max rows - The number of rows returned is defined in Pandas option settings.
# You can check your system's maximum rows with the pd.options.display.max_rows statement.

print("maximum rows in this dataset are :", pd.options.display.max_rows)
print("maximum columns in the same dataset are :", pd.options.display.max_columns)

maximum rows in this dataset are : 60
maximum columns in the same dataset are : 20

WORKING WITH JSON FILES

In [23]:
import pandas as pd
'''python dictionaries = json hence both can be printed into a DataFrame very easily'''

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

ANALYSING THE DATA

In [24]:
# first step is viewing the data using head() method
'''head method by default returns first 5 rows as output'''
import pandas as pd
df=pd.read_csv("Marvel Movies.csv")
print(df.head())

                     movie  category  year  worldwide gross ($m)  \
0                Ant-Man     Ant-Man  2015                   518
1       Ant-Man & The Wasp   Ant-Man  2018                   623
2  Avengers: Age of Ultron  Avengers  2015                  1395
3       Avengers: End Game  Avengers  2019                  2797
4   Avengers: Infinity War  Avengers  2018                  2048

  % budget recovered critics % score audience % score  \
0               398%             83%              85%
1               479%             87%              80%
2               382%             76%              82%
3               699%             94%              90%
4               683%             85%              91%

  audience vs critics % deviance  budget  domestic gross ($m)  \
0                            -2%   130.0                  180
1                             7%   130.0                  216
2                            -6%   365.0                  459
3                             4%   400.0                  858
4                            -6%   300.0                  678

   international gross ($m)  opening weekend ($m)  second weekend ($m)  \
0                       338                  57.0                 24.0
1                       406                  75.8                 29.0
2                       936                 191.0                 77.0
3                      1939                 357.0                147.0
4                      1369                 257.0                114.0

  1st vs 2nd weekend drop off  % gross from opening weekend  \
0                        -58%                          31.8
1                        -62%                          35.0
2                        -60%                          41.7
3                        -59%                          41.6
4                        -56%                          38.0

  % gross from domestic % gross from international % budget opening weekend
0                34.70%                     65.30%                   43.80%
1                34.70%                     65.20%                   58.30%
2                32.90%                     67.10%                   52.30%
3                30.70%                     69.30%                   89.30%
4                33.10%                     66.80%                   85.70%

In [25]:
# tail() method
print(df.tail()) #will print last 5 data off the DataFrameb

                                  movie    category  year  \
31       Guardians of the Galaxy Vol. 3   Guardians  2023
32                          The Marvels      Unique  2023
33  Spider-Man: Across the Spider-Verse  Spider-Man  2023
34                             Deadpool    Deadpool  2016
35                           Deadpool 2    Deadpool  2018

    worldwide gross ($m) % budget recovered critics % score audience % score  \
31                   845               338%             82%              95%
32                   503               201%             57%              73%
33                   680               681%             96%              94%
34                   783              1350%             85%              90%
35                   786               714%             84%              85%

   audience vs critics % deviance  budget  domestic gross ($m)  \
31                           -13%   250.0                  358
32                           -16%   250.0                  215
33                             2%   100.0                  380
34                             5%    58.0                  363
35                             1%   110.0                  324

    international gross ($m)  opening weekend ($m)  second weekend ($m)  \
31                       487                 118.0                 49.0
32                       288                  81.0                 27.0
33                       300                 120.0                 52.0
34                       420                 132.4                 56.5
35                       462                 125.5                 43.5

   1st vs 2nd weekend drop off  % gross from opening weekend  \
31                        -59%                       14.0000
32                        -67%                       16.1000
33                        -57%                       17.6000
34                        -57%                        0.1691
35                        -65%                        0.1597

   % gross from domestic % gross from international % budget opening weekend
31                42.40%                     57.60%                   47.20%
32                42.70%                     57.30%                   32.40%
33                55.90%                     44.10%                  120.00%
34                46.36%                     53.64%                  228.28%
35                41.22%                     58.78%                  114.09%

In [26]:
#will return information about the DataFrame
print(df.info())
# The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 36 Non-Null values in the "year" column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   movie                           36 non-null     object
 1   category                        36 non-null     object
 2   year                            36 non-null     int64
 3   worldwide gross ($m)            36 non-null     int64
 4   % budget recovered              36 non-null     object
 5   critics % score                 36 non-null     object
 6   audience % score                36 non-null     object
 7   audience vs critics % deviance  36 non-null     object
 8   budget                          36 non-null     float64
 9   domestic gross ($m)             36 non-null     int64
 10  international gross ($m)        36 non-null     int64
 11  opening weekend ($m)            36 non-null     float64
 12  second weekend ($m)             36 non-null     float64
 13  1st vs 2nd weekend drop off     36 non-null     object
 14  % gross from opening weekend    36 non-null     float64
 15  % gross from domestic           36 non-null     object
 16  % gross from international      36 non-null     object
 17  % budget opening weekend        36 non-null     object
dtypes: float64(4), int64(4), object(10)
memory usage: 5.2+ KB
None

CLEANING DATA

In [27]:
'''cleaning data cells means to remove or get rid of bad cells
bas cells can include empty cells, data in wrong format, wrong data, Duplicates'''
a="cleaning data sets begins here"

In [28]:
import pandas as pd 
'''the lonan_data_1.csv file has multiple empty cells in the csv and in order to remove the rows with such data we use .dropna() method '''
df=pd.read_csv("loan_dafta_1.csv").dropna()
print(df.to_string()) #somehow this command also removed null-celled and saved the file

FileNotFoundError: [Errno 2] No such file or directory: 'loan_dafta_1.csv'

In [ ]:
# the above syntax doesn't save the file as edited
'''in order to permanently save the file as edited(i.e. null celled rows rmoved, one can (inplace=True))'''
so=pd.read_csv("loan_data_1.csv")
print(so.dropna(inplace=True))

In [ ]:
name=pd.read_csv("loan_data_1 - Copy.csv")
print(name.to_string()) #this is a file that hasn't been cleaned and is the exact replica of the loans_data1.csv file before getting cleaned

In [ ]:
# '''didn't find a csv file to experiment on this so leacing the syntax here'''
import pandas as pd
'''
--> Replace NULL values with the number 130:

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)'''

In [ ]:
'''Replace NULL values in the "Calories" columns with the number 130:

import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)'''

In [ ]:
# replacing values of a column using mean, median, mode
'''incase the demand is to fill the empty cells with mean or medain or  mode of rest of the data'''
###
'''for replacing with mean

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)'''

#

'''for replacing with median

df = pd.read_csv('data.csv')
x = df["Calories"].median()
df["Calories"].fillna(x, inplace = True)
'''
#

'''for replacing wit mode

df = pd.read_csv('data.csv')
x = df["Calories"].mode()[0]
df["Calories"].fillna(x, inplace = True)
'''

CLEANING OF WRONG FORMAT

In [ ]:
import pandas as pd
print(pd.read_csv("Marvel Movies.csv").dropna(inplace=True))

In [ ]:
import pandas as pd
'''
In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date:

Let's try to convert all cells in the 'Date' column into dates.
# the dataset in the tutorial has a file with a wrongly written date cell and a cell with no date at all
**in order to rectify the date using pandas following syntax has been used**

import pandas as pd

df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string()) '''


a='iambatman'
# and now to remove the row with no date mentioned,
# follow this syntax
# df.dropna(subset=['Date'], inplace=True)

In [ ]:
# make copy of a file 

import pandas as pd
a={
    "name":["Batman", "Superman", "Spiderman", "Kratos", "IronMan", "Hawkeye", "Falcon"],
    "kills":[10, 200, 1, 20000, 2000000, 210, 12 ],
}
df=pd.DataFrame(a).copy(deep=True)

'''	Optional. Default True. Specifies whether to make a deep or a shallow copy.
By default (deep=True, any changes made in the original DataFrame will NOT be reflected in the copy.

With the parameter deep=False, it is only the reference to the data (and index) that will be copied, and any changes made in the original will be reflected in the copy, and, any changes made in the copy will be reflected in the original.'''
# now we work on this dataframe without affecting the original one

In [ ]:
# back to cleaning data
import pandas as pd
df=pd.read_csv("Marvel Movies.csv").copy() #default value for deep under copy method is true so changes to this file won't be affecting the original file
print(df.to_string())
# now to change a data's value in this dataframe we'll use the following code
df.loc[14, 'movie']='Eternals (bekar movie)'
print('''

''')
print(df.to_string())

# here we can clearly see how the loc method applied to the csv file changed the desired cell's value

In [ ]:
'''looping through the whole column to apply a criteria to the whole dataset'''
import pandas as pd 

df=pd.read_csv("Marvel Movies.csv").copy(deep=True) #default value for deep under copy method is true so changes to this file won't be affecting the original file
for i in df.index:
    if df.loc[i, 'worldwide gross ($m)']>1000:
        df.loc[i, 'worldwide gross ($m)']=1000
# now here every movie greater than the earning of $1000M has been its worldwide gross rounded off down to 1000

In [ ]:
import pandas as pd

# used blackbox ai here to understand some concepts

a={
    "name":["Batman", "Superman", "Spiderman", "Kratos", "IronMan", "Hawkeye", "Falcon"],
    "kills":[10, 200, 1, 20000, 2000000, 210, 12 ],
}

df = pd.DataFrame(a)

for index, row in df.iterrows():
    if row['name'] == 'Superman':
        df.loc[index, 'name'] = 'Hulk'

print(df)

In [ ]:
# removing rows from a dataset
df=pd.read_csv("Marvel Movies.csv").copy(deep=True) #default value for deep under copy method is true so changes to this file won't be affecting the original file
'''looping through the whole column to apply a criteria to the whole dataset'''
import pandas as pd 

df=pd.read_csv("Marvel Movies.csv").copy(deep=True) #default value for deep under copy method is true so changes to this file won't be affecting the original file
for i in df.index:
    if df.loc[i, 'worldwide gross ($m)']>1000:
        df.drop(i, inplace=True) #'''this removes all the rows that have globally made more than 100m$ in their release year'''
print(df.to_string)

DISCOVERING & REMOVING DUPLICATES

In [ ]:
'''looping through the whole column to apply a criteria to the whole dataset'''
import pandas as pd 

df=pd.read_csv("loan_data_1 - Copy.csv")

print(df.duplicated())#this tells if there are any duplicate values in the dataset

'''to remove duplicates'''
df.drop_duplicates(inplace=True) #inplace ensures the changed data is saved

In [ ]:
# finding relationships in the dataset
import pandas as pd

df=pd.read_csv("data.csv").copy(deep=True)
df.corr()
'''
Result Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

Perfect Correlation:
We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

Good Correlation:
"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

Bad Correlation:
"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.
'''

PANDAS PLOTTING

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("data.csv").copy(deep=True)
df.plot()
plt.show()

In [ ]:
# for scattered plot of the above graph
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("data.csv").copy(deep=True)


df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv').copy()

df.plot(kind = 'scatter', x = 'Duration', y = 'Maxpulse')

plt.show()

Data Processing Tools

important libraries--> numpy, matplotlib, pandas